
  <div class="container-fluid">
              
           
    <ol class="breadcrumb">
     <div class="header"><li><h1>Mail</h1></li></div> 
      <li><a href="#">Home</a></li>
      <li><a href="index.html">Mail</a></li>
            
    </ol>
      
      
  </div>

  <div class="a">
      <div class="row">
          <div class="col-lg-4">
              <div class="EmptyContainer">
                  <button type="button" class="btn btn-default btn-lg">Compose</button>


              </div>

              <ul class="list-group list-group-flush">
                  <li class="list-group-item">Inbox <span class="badge">7</span></li>
                  <li class="list-group-item">Sent Mail <span class="badge"></span></li>
                  <li class="list-group-item">Important <span class="badge"></span></li>
                  <li class="list-group-item">Drafts <span class="badge">2</span></li>
                  <li class="list-group-item">Spam <span class="badge"></span></li>
                  <li class="list-group-item">Trash <span class="badge"></span></li>
                </ul>

              <div class="diffbtn">
                  <div class="horbtn">
                      <button type="button" class="btn btn-primary">IA</button>
                      <button type="button" class="btn btn-success">DET</button>
                  </div>
                  <div class="horbtn">
                      <button type="button" class="btn btn-danger">TESTING</button>
                      <button type="button" class="btn btn-warning">DA</button>
                  </div>


              </div>
              <div class="addlabel">
                 <h4> <a href="url">+ Add new label</a></h4>
              </div>
          </div>
          <div class="col-lg-8">
              <table class="table">
                  
                  <tbody>
                    <tr>
                      
                     
                      <td>
                          <div class="inline">
                          <div><input type="checkbox" value="">  <img src="./assets/admin.png" alt="Italian Trulli"></div>
                          <div class="right"> saimanohar <br><button type="button" class="btn btn-primary">ASE</button></div>
                          </div> 
                      </td>
                      <td>etc</td>
                      <td>Nov 22</td>
                      
                     
                    </tr>
                    <tr>
                      <td>
                          <div class="inline">
                          <div><input type="checkbox" value="">  <img src="./assets/admin.png" alt="Italian Trulli"></div>
                          <div class="right"> lasya <br><button type="button" class="btn btn-primary">ASE</button></div>
                          </div>
                       </td>
                      <td>Moe</td>
                      <td>Nov 22</td>
                    </tr>
                    <tr>
                      <td>
                          <div class="inline">
                              <div><input type="checkbox" value=""> <img src="./assets/admin.png" alt="Italian Trulli"></div>
                              <div class="right"> sahana <br><button type="button" class="btn btn-primary">ASE</button></div>
                          </div> 
                      </td>
                      <td>Dooley</td>
                      <td>Nov 22</td>
                    </tr>
                    <tr>
                      <td><div class="inline">
                          <div><input type="checkbox" value="">  <img src="./assets/admin.png" alt="Italian Trulli"></div>
                          <div class="right"> gouri <br><button type="button" class="btn btn-primary">ASE</button></div>
                          </div> </td>
                      <td>etc</td>
                      <td>Nov 22</td>
                    </tr>
                    <tr>
                      <td><div class="inline">
                          <div><input type="checkbox" value="">  <img src="./assets/admin.png" alt="Italian Trulli"></div>
                          <div class="right"> shravan <br><button type="button" class="btn btn-primary">ASE</button></div>
                          </div> </td>
                      <td>Moe</td>
                      <td>Nov 22</td>
                    </tr>
                    <tr>
                        <td><div class="inline">
                            <div><input type="checkbox" value="">  <img src="./assets/admin.png" alt="Italian Trulli"></div>
                            <div class="right"> anushka <br><button type="button" class="btn btn-warning">ASE</button></div>
                            </div> </td>
                        <td>Moe</td>
                        <td>Nov 22</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>

  </div>





