<mat-nav-list>
    
    <mat-divider></mat-divider>

    

    <a mat-list-item routerLinkActive="list-item-active" routerLink="">Dashboard</a>
    

    <mat-divider></mat-divider>
    <div>
     <mat-form-field appearance="fill">
        <mat-label>Components</mat-label>
        <mat-select #mode value="components">
          <mat-option value="mails" routerLink="/mails" routerLinkActive="active">Mails</mat-option>
          
          <mat-option value="tree view" routerLink="/tree" routerLinkActive="active">Tree View</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

      
      <div>

      <mat-form-field appearance="fill">
        <mat-label>Charts</mat-label>
        <mat-select #mode value="Charts">
          <mat-option routerLinkActive="list-item-active" routerLink="/pie" value="piechart">pies</mat-option>
          
        </mat-select>
      </mat-form-field>
    
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/cont">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/leads">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/empl">
      <mat-icon>face</mat-icon>
      Employee list
  </a>

</mat-nav-list>
